#title {

    background-color: rgb(216, 212, 212);
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.background {

    height: 5%;
    width: 100%;

}

.toolbar {


    display: flex;
    gap: 10px;
    background-color: rgb(216, 212, 212);

}

#yfunction {

    display: flex;
    gap: 10px;
    padding: 5px;
    border-radius: 5px;
background-color: rgb(216, 212, 212);

}

#icon {

    height: 20px;
    width: 20px;

}

#input {

    padding: 5px;
    vertical-align: bottom;

}




#left-chart {
    display: flex;
    align-items: baseline;
    gap: 20px;

}

.left-title {
    display: flex;
    align-items: baseline;
    gap: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

#robozinho {
    border-radius: 20px;
    display: flex;
    background-color: lightblue;
    color: blue;
}

.botao_ajuda {
    color: white;
    border-radius: 40px;
}

.compra_material {
    background-color: blue;
    border-radius: 40px;
}

.compra_servico {
    background-color: blue;
    border-radius: 40px;
}

.fluxo_processos {
    background-color: blue;
    border-radius: 40px;
}

.status_requisicoes {
    background-color: blue;
    border-radius: 40px;
}

.nao_sei {
    background-color: blue;
    border-radius: 40px;
}

.fale_comigo {
    background-color: blue;
    border-radius: 40px;
    color: white;
}

#robozinho_acenando {
    display: flex;
}

.pagina_cima {
    display: flex;
}

#satus_pedidos {
    background-color: lightblue;
    border-radius: 20px;
    margin: 20px;
}

.status_cabecalho {
    display: flex;
    color: blue;
    gap: 20px;
}

.cabecalho_tabela {
    display: flex;
    gap: 30px;
    color: blue;
}

.tabela {
    background-color: white;
    border-radius: 10px;
}

.ultimas_compras {
    background-color: lightblue;
    border-radius: 20px;
    margin: 20px;
}

.parte_de_cima {
    display: flex;
    color: blue;
    gap: 300px;
}

.compras {
    display: flex;
    gap: 50px;

}

.precos {
    display: flex;
    gap: 90px;
}

.compras_e_precos {
    background-color: white;
    border-radius: 20px;
}

.pagina_meio {
    display: flex;
}

.mensagens_e_alertas {
    margin: 30px;
    background-color: lightblue;
    border-radius: 20px;
}

.mensagens_e_alertas_cima {
    display: flex;
    color: blue;
    gap: 20px;
}

.nomes {
    text-align: center;
}

#joao1 {
    background-color: white;
    border-radius: 40px;
    margin: 20px;
}

#marcio1 {
    background-color: white;
    border-radius: 40px;
    margin: 20px;
}

#joao2 {
    background-color: white;
    border-radius: 40px;
    margin: 20px;
}

#marcio2 {
    background-color: white;
    border-radius: 40px;
    margin: 20px;
}

.imagens_produtos {
    display: flex;
    gap: 70px;
}

#Folha_A4 {
    height: 70px;
    width: 70px;
}

#SAP {
    height: 70px;
    width: 70px;
}

#Grampeador {
    height: 70px;
    width: 70px;
}

#Caneta {
    height: 70px;
    width: 70px;
}

#Lapis {
    height: 70px;
    width: 70px;
}

#Caderno {
    height: 70px;
    width: 70px;
}

.ultimas_requisicoes {
    background-color: lightblue;
    border-radius: 20px;
}

.ultimas_requisicoes_cima {
    display: flex;
    gap: 400px;
    color: blue;
}

.pedidos_e_imagem {
    display: flex;
    gap: 40px;
}

#imagem_pedidos {
    height: 150px;
    width: 500px;
    ;
}

.pagina_baixo {
    display: flex;
}

#transacoes_folha {
    height: 100px;
    width: 100px;
}

#transacoes_SAP {
    height: 100px;
    width: 100px;
}

#transacoes_grampeador {
    height: 100px;
    width: 100px;
}

.ultimas_transacoes {
    background-color: lightblue;
    border-radius: 20px;
    margin: 20px;
}

.ultimas_transacoes_cima {
    display: flex;
    color: blue;
    gap: 40px;
}

.ultimas_transacoes_baixo {
    text-align: center;
    background-color: white;
    border-radius: 40px;
    margin: 10px;
}