#title {

    background-color: rgb(216, 212, 212);
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.background{

height: 5%;
width: 100%;

}

.toolbar {


    display: flex;
    gap: 10px;
background-color: rgb(216, 212, 212);

}

#yfunction {

    display: flex;
    gap: 10px;

    
}

#nfunction {

    display: flex;
    color: gray;
    gap: 10px;

}

#icon {

    height: 20px;
    width: 20px;

}

#input{

padding: 5px;
vertical-align: bottom;

}

.left-title{

display: flex;

}

#left-toolbar{

display: flex;



}

#robozinho{
    border-radius: 20px;
    display: flex;
    background-color: lightblue;
}

.botao_ajuda{
    color: white;
    border-radius: 40px;
}

.compra_material{
    background-color: blue;
    border-radius: 40px;
}
.compra_servico{
    background-color: blue;
    border-radius: 40px;
}
.fluxo_processos{
    background-color: blue;
    border-radius: 40px;
}
.status_requisicoes{
    background-color: blue;
    border-radius: 40px;
}
.nao_sei{
    background-color: blue;
    border-radius: 40px;
}
.fale_comigo{
    background-color: blue;
    border-radius: 40px;
    color: white;
}

#robozinho_acenando{
    display: flex;
}

.pagina_cima{
    display: flex;
}

#satus_pedidos{
    background-color: lightblue;
    border-radius: 20px;
    margin: 20px;
}
.status_cabecalho{
    display: flex;
    color: blue;
    gap: 20px;
}
.cabecalho_tabela{
    display: flex;
    gap: 30px;
    color: blue;
}
.tabela{
    background-color: white;
    border-radius: 10px;
}
.ultimas_compras{
    background-color: lightblue;
    border-radius: 20px;
    margin: 20px;
}
.parte_de_cima{
    display: flex;
    color: blue;
    gap: 300px;
}
.compras{
    display: flex;
    gap: 50px;
    background-color:;
}
.precos{
    display: flex;
    gap: 90px;
}
.compras_e_precos{
    background-color: white;
    border-radius: 20px;
}
.pagina_meio{
    display: flex;
}
.mensagens_e_alertas{
    margin: 30px;
    background-color: lightblue;
    border-radius: 20px;
}
.mensagens_e_alertas_cima{
    display: flex;
    color: blue;
    gap: 20px;
}
.nomes{
    text-align: center;
}